@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300..500&display=swap");
@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-slate-blue: #e8f0ff;
  --color-russian-violet: #392759;
  --color-black: #000000;

  --font-*: initial;
  --font-Exo-2: "Exo 2", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge, Opera) */
.pillars::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox and IE/Edge */
.pillars {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*,
html {
  scroll-behavior: smooth !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Exo 2", sans-serif;
  overflow-x: hidden;
}
